
/* important css  */
/* important css  */
/* important css  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Satisfy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-fonts> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}
*{margin: 0;padding: 0 ;}
body {
    background: rgb(0, 0, 0);
    color: white;    
}
/* common css  */



.section {
    max-width: 1060px;
    margin: auto;
}

.section-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;  
    width: 670px;
    padding-bottom: 15px;
    margin: auto;
}
.section-des{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
    width: 670px;
    margin: auto;

}
/* common css  */

/* main css  */
.header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
    margin: 3% 5% 3% 0%;
    position: relative;
   
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    max-width: 1060px;
    margin: auto;
}
.nav-title{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0%;        
}
.nav-items{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    
}
.nav-items li {
    list-style: none;
    padding: 12px 30px 12px 30px;
    text-align: center;
}
.highlight-btn{
    border-radius: 46px;    
    background: rgb(230, 83, 60) !important;  
    color: white; 
    border:none !important;

}
.nav-items li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
   
}
.nav-menu-icon{
    display: none;
}

/* banner section css  */
.banner-section{
    display: grid;
    grid-template-columns:  1fr 1fr;
    position: relative;
    row-gap: 30px;
    grid-column-gap: 50px;
    

}
.banner-info{
    max-width: 520px;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.banner-title{
     color: rgb(255, 255, 255);
     font-family: Inter;
     font-size: 78px;
     font-weight: 900;
     line-height: 120%;
     letter-spacing: 0%;
     text-align: left;
     margin-top: 90px;
} 
.banner-title-span{
     font-size: 78px;
     font-weight: 300;
     line-height: 120%;
     font-style: italic; 
}
.banner-dsr{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

.banner-btns button {
     border-radius: 42px;
     color: rgb(255, 255, 255);
     padding: 16px 40px;
     margin-right: 15px;
     background-color: black;
     border: 2px solid white;

}
.banner-btns button  a {
     font-family: Inter;
     font-size: 18px;
     font-weight: 600;
     line-height: 22px;
     letter-spacing: 0px; 
     text-decoration: none;
     color: white;
}
.banner-tutorials{
 
    background-image: url("./images/Images2.png");
    background-position: center;
    background-repeat: no-repeat;  
    position: relative;
    height: 580px;
  

}


.top-info{
    position: absolute;
    right: 0px;
    top: 150px ; 
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 25px ;
}
.top-info h3{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: left;
    margin-bottom: 10px;
}
.top-info p{
color: rgba(255, 255, 255, 0.65);
font-family: Inter;
font-size: 13px;
font-weight: 400;
line-height: 20px;
letter-spacing: 1px;
text-align: left;
}
.bottom-info{
    position: absolute;
    left: 0px;
    bottom: 50px ;  
    box-sizing: border-box;
     border: 1px solid rgba(255, 255, 255, 0.1);
     border-radius: 12px;
     backdrop-filter: blur(20px);
     background: rgba(255, 255, 255, 0.1);
     padding: 25px 25px 25px 70px;
}
.bottom-info h3{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: left;
    margin-bottom: 10px;
    position: relative;
}
.bottom-info  h3::before{
    content: " ";
    height: 40px;
    width: 40px;
    position: absolute;
    background: rgb(230, 83, 60);
    top: 20px;
    left: -50px;
    border-radius: 50%;

}
.bottom-info{
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: left;
}


/* habit section  */

.habits-section{
    margin-top: 60px;
}

.habits-main-content{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 50px;

}
           .habits-item {
               display: flex;
               align-items: center;
               flex-direction: column;
               margin-bottom: 30px;
    
           }

.habits-item img {
    border-radius: 50%;    
    width: 180px;
    height: 180px;
    margin: auto;
    text-align: center;
}

.habits-item h4 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 25px;
}

.habits-item p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-align: center;
    margin-top: 15px;
    
}


/* run section  */


.run-section{
    margin-top: 60px;
    border-radius: 18px;    
    background: rgb(34, 34, 34);
    padding: 50px;
   
}
.run-section-wrapper{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 15px;
}

.run-info {
    max-width:440px;
}
.run-info .section-title{
    text-align: left;  
    color: rgb(255, 255, 255);;  
}
.run-info .section-des{
    text-align: left;    
    margin-top: 15px;
    margin-bottom: 35px;
    max-width: 100%;
}

.run-img img{
    max-width: 100%;
    border-radius: 15px;
    width: 366px;
    height: 312px;

}


/* trainings section  */


.trainings-section {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}
.trainings-section .section-title{
    text-align: left;
    float: left;
  
   
    
   
}
.trainings-section .section-des{
    text-align: left;
    float: left;
    margin-top: 20px; 
    
}
.trainings-imgs {
  display: grid;
  grid-template-columns:  repeat(4, 1fr);
  margin-top: 60px;
}

.traingins-single-img-two {
    grid-column: 2/4;      
}

.traingins-single-img-four {
    grid-column: 1/3;      
}


.traingins-single-img img{
    width: 100%;
    height: 201px;
    position: relative;
}
.traingins-single-img {

    position: relative;
}

.traingins-single-img p {
 position: absolute;
 bottom: 40px;
 left: 30px;
}


/* BMI section  */


.bmi-section {
    margin-top: 60px;
    margin-bottom: 60px;

}





.calculator-section{
    background: rgb(34, 34, 34);
    padding: 50px 0px ;
}

.calculator-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: rgb(34, 34, 34);
    padding: 50px 0px ;
}

table{
    border-collapse: collapse;
    padding: 15px ;
    margin-top: 40px;
}
td,th{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px 30px;
    color: rgba(255, 255, 255, 0.5);
     font-family: Inter;
     font-size: 14px;
     font-weight: 400;
     line-height: 120%;
     letter-spacing: 0%;
     text-align: left;

}
th{
    color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: left;

}

.bim h3 , .Chart h3{
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 28px;
        font-weight: 900;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: left;

}
.bim p{
        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.3px;
        text-align: left;
        margin-top: 15px;
}

.calculate-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    margin-top: 40px;
}

.form-control{
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;     
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: rgba(255, 255, 255, 0.6);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: left;
        border-radius: 8px;       
           
    }
option.form-control {
background-color: rgb(34, 34, 34);    
}
.factor{
   grid-column: 1/3;
}
.submit-btn{
    border-radius: 30px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    margin-top: 30px;  
    text-align: center;
    
}


/* meet section  */
.meet-section {
    margin-top:60px;
}

.meet-gellary{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    border-radius: 18px;    
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    margin-top: 60px;
}

.meet-single-item {
    position: relative;
   
}
.meet-single-item img{
    width: 100%;
    height: 272px;
    border-radius: 10px;
}
.meet-single-item h4{
color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    position: absolute;
    left: 30px;
    bottom: 60px;
}
.meet-single-item p{
color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    position: absolute;
    left: 30px;
    bottom: 35px;
}


/* footer section css 
 */

 footer{
    background: rgba(255, 255, 255, 0.1);
    margin-top: 80px;
    padding: 60px 0px 40px 0px;
 }
 .footer-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
 }
 .footer-section h2{
    color: rgb(230, 83, 60);
        font-family: Inter;
        font-size: 70px;
        font-weight: 800;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: left;
 }
 .footer-section p{
color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
    margin-top: 30px;

 }
  .footer-section h3 {
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 32px;
font-weight: 700;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
  } 
  
  .footer-section ul li   {
    list-style: none;
    margin-top: 20px;

 
        
  } .footer-section ul li a {
    color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 23px;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: left;        
        text-decoration: none;  
        
  }


  .footer-bottom{
    margin-top: 60px;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
  } 
  
  .footer-bottom p{
text-align: center; 
color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-top: 40px;
    

}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}





/* mobile device css   */

@media (max-width: 767px) {


    /* common css  */
    .section {
            max-width:  767px;
            margin: auto;
        }
    
        .section-title {
            color: rgb(255, 255, 255);
            font-family: Inter;
            font-size: 32px;
            font-weight: 900;
            line-height: 120%;
            letter-spacing: 0%;
            text-align: center;
            width: 100%;
            margin: auto;
    
        }
    
        .section-des {
            color: rgba(255, 255, 255, 0.5);
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.3px;
            text-align: center;
            width: 100%;
            margin: auto;
          
        }

        .nav-menu-icon {
            display: block;
            margin-right: 40px;
        }
    
        .nav-items {
            display: none;
        }

        .header{
            padding: 0px 20px;
        }

        /* banner section  */

                .banner-section {
                    display: grid;
                    grid-template-columns: 1fr;
                    position: relative;
                    row-gap: 30px;
                    grid-column-gap: 50px;       
        
                }
                .banner-title {
                    margin-top: 30px;
                    color: rgb(255, 255, 255);
                     font-family: Inter;
                     font-size: 36px;
                     font-weight: 900;
                     line-height: 120%;
                     letter-spacing: 0%;
                     text-align: left;

                }
                .banner-btns {
                    display: flex;                   
                    gap: 15px;;
                }  
                 .banner-btns  button{
                  padding: 10px 25px;
                }
                .top-info h3 ,.bottom-info h3{
                    font-size: 30px;             
                    font-size: 30.24px;
                    font-weight: 900;
                    line-height: 30.24px;
                  
                }


                /* habit section  */
                .habits-section{
                    margin-top: 30px;
                }
              
                .habits-main-content{
                    display: grid;
                    grid-template-columns: 1fr;
                    position: relative; 
                 

                }




                /* run css  */
                .run-section{
                    margin: 0px 20px;
                }

         .run-section-wrapper {
             display: grid;
             grid-template-columns: 1fr;        
             grid-gap: 25px;
         }

                 .run-info .section-des {
                     text-align: left;
                      margin-top: 0px; 
                     margin-bottom: 15px; 
                     max-width: 100%;
                 }


         /* trainings-img css  */
         .trainings-section{
            margin: 0px 20px;
            margin-top: 40px;
           
         }

                 .trainings-imgs {
                     display: grid;
                     grid-template-columns:1fr 1fr;
                     margin-top: 30px;
                 }
                                 .traingins-single-img-one {
                                     grid-column: 1/2;
                                 }.traingins-single-img-two {
                                     grid-column: 2/3;
                                 }
                
                                 .traingins-single-img-four {
                                     grid-column: 2/3;
                                 }
                
                
                                 .traingins-single-img img {
                                     width: 100%;
                                     height: 201px;
                                     position: relative;
                                 }
                
                                 .traingins-single-img {
                
                                     position: relative;
                                 }
                
                                 .traingins-single-img p {
                                     position: absolute;
                                     bottom: 40px;
                                     left: 30px;
                                 }

                                 /* bmi section  */
                


.bmi-section{
    margin:30px 0px;
}

.calculator-section{
    padding: 0px 30px;
}
   .calculator-wrapper {
       display: grid;
       grid-template-columns: repeat(1, 1fr);
       background: rgb(34, 34, 34);
       padding:  30px 0px;
   }
   .bim h3{
    margin-top: 30px;
   }
   .submit-btn{   
    width: 50%;
    text-align: center !important;
   }


   /* meet section  */

   .meet-section {
    margin-top: 30px;
 
   }
   .meet-gellary {
       display: grid;
       grid-template-columns: repeat(1, 1fr);
       grid-gap: 20px;
       border-radius: 18px;
       background: rgba(255, 255, 255, 0.1);
       padding: 30px;
       margin: 0px 20px;
       margin-top: 30px;
       
   }
  footer{
    padding: 30px;
  }
  .footer-bottom{
    margin-top: 30px;
  }
        .footer-section {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 50px;
        }


                .calculate-form {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    grid-gap: 15px;
                    margin-top: 40px;
                }
        
                .form-control {
                    padding: 10px;
                    border-radius: 10px;
                    font-size: 16px;
                    background: rgba(255, 255, 255, 0.1);
                    border: none;
                    color: rgba(255, 255, 255, 0.6);
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 22px;
                    letter-spacing: 0px;
                    text-align: left;
                    border-radius: 8px;
        
                }
        
                option.form-control {
                    background-color: rgb(34, 34, 34);
                }
        
                .factor {
                    grid-column: 1/2;
                }


    }


